.App {
    text-align: center;
  }
  
  nav{
    background-color: rgb(74, 19, 93);
    padding: 7px;
    
    ul{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 10px;
  
      li{
        list-style: none;
        text-align: center;
 
        a{
          text-decoration: none;
          color: rgb(83, 97, 194);
          font-size: 18px;
          transition: all 1s;
  
          &:hover{
            color: rgb(56, 147, 135);
          }
        }
      }
    }
  }


